/*:root {
  --htb-bg-color: #fff;
  --htb-bg-color-active: #003cc5;
  --htb-bg-color-hover: #f0f5fd;
  --htb-border-color: #d8d9e0;
  --htb-text-color: #222330;
  --htb-text-color-active: #fff;
}*/

.htb-menu-btn {
  position: fixed;
  width: 2.75rem;
  height: 2.75rem;
  border: none;
  background: var(--htb-bg-color-active);
  outline: none;
  padding: 0 .75rem;
  border-radius: 100%;
  transition: all .25s ease-in-out;
  z-index: 9999;
}

.htb-menu-btn > span {
  display: block;
  background-color: var(--htb-text-color-active);
  width: 100%;
  height: 2px;
  margin: .25rem 0;
}

.htb-menu-btn > span {
  transition: all .6s ease;
}
.htb-menu-btn > span:nth-child(3) {
  transform: scaleX(-1);
  margin-top: 0;
  float: right;
}
.htb-menu-btn:hover > span:nth-child(1),
.htb-menu-btn:hover > span:nth-child(3) {
  width: 40%;
}
.htb-menu-btn.active > span:nth-child(1),
.htb-menu-btn.active > span:nth-child(3) {
  width: 100%;
}
.htb-menu-btn.active > span:nth-child(1) {
  transform: translateY(6px) rotateZ(45deg);
}
.htb-menu-btn.active > span:nth-child(3) {
  transform: translateY(-6px) rotateZ(45deg);
}
.htb-menu-btn.active > span:nth-child(2) {
  transform: rotateZ(-45deg);
}


/* The main menu wrapper <nav> */
.hidden-toolbar-menu {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  background: var(--htb-bg-color);
  color: var(--htb-text-color);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  padding: 0 0 5rem;
  opacity: 0;
  transform: translateX(200%);
  transition: all .8s cubic-bezier(.8, 0, .33, 1);
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  box-shadow: 0 -2px 4px rgba(0,0,0,.2);
}

.hidden-toolbar-menu.nav-open {
  opacity: 1;
  transform: translateX(0);
  overflow-y: scroll;
  z-index: 999;
  pointer-events: auto;
}

/* class added to document root to remove scroll for page when menu is open */
.no-scroll { overflow: hidden }

.hidden-toolbar-menu svg {
  max-height: 100%;
  vertical-align: middle;
  pointer-events: none;
}

/* User menu */
.htb-user-menu {
  margin: 2rem 0 1rem;
  padding: 0 1rem;
}
.htb-user-menu h3 {
  font-size: .875rem;
  font-weight: 700;
}
.htb-user-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 8rem;
}
.htb-user-links a {
  display: block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: var(--htb-text-color);
  border: 1px solid var(--htb-border-color);
  border-radius: 100%;
  transition: all .2s ease-in-out;
}
.htb-user-links a svg {
  margin-top: .4rem;
}
.htb-user-links a:hover, .htb-user-links a:focus {
  background: var(--htb-bg-color-hover);
  color: var(--htb-text-color);
  border-color: transparent;
}
.htb-user-links a:active, .htb-user-links a.is-active {
  background: var(--htb-bg-color-active);
  color: var(--htb-text-color-active);
}


/* the menu wrapper */
.htb-nav-links {
  width: 100%;
  position: relative;
  transform: translateX(10rem);
  opacity: 0;
  transition: all .9s cubic-bezier(.9, 0, .33, 1);
}

.htb-nav-links.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.htb-nav-links:last-child {
  margin-bottom: 4rem;
}

.htb-nav-links h4 {
  font-size: .675rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding: .5rem 1rem;
  margin: 0;
  border-top: 1px solid var(--htb-border-color);
  border-bottom: 1px solid var(--htb-border-color);
}

/* menu lists */
.hidden-toolbar-submenu .htb-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden-toolbar-submenu a {
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  padding: 1rem;
  color: var(--htb-text-color);
  text-decoration: none !important;
  border: none !important;
  transition: all .2s ease-in-out;
}
.hidden-toolbar-submenu a::before {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: .25rem;
  height: .25rem;
  border-top: 2px solid var(--htb-text-color);
  border-right: 2px solid var(--htb-text-color);
  transform: translateX(-1rem) rotate(45deg);
  transition: all .2s ease-in-out;
}
.hidden-toolbar-submenu a:hover,
.hidden-toolbar-submenu a:focus {
  background: var(--htb-bg-color-hover);
  color: var(--htb-text-color);
  text-indent: .75rem;
}
.hidden-toolbar-submenu a.is-active {
  text-indent: .75rem;
  background: var(--htb-bg-color-active);
  color: var(--htb-text-color-active);
  text-decoration: none !important;
  border: none !important;
}
.hidden-toolbar-submenu a:hover::before,
.hidden-toolbar-submenu a:focus::before,
.hidden-toolbar-submenu a.is-active::before {
  transform: translateX(1rem) rotate(45deg);
}
.hidden-toolbar-submenu a.is-active::before {
  border-color: var(--htb-text-color-active);
}

/* Positions of open/close button(burger) for config */
.top-1 {
  top: 1rem;
}
.right-1 {
  right: 1rem;
}
.bottom-1 {
  bottom: 1rem;
}
.left-1 {
  left: 1rem;
}
