{#
/**
 * @file
 * Default theme implementation for the administrative hidden-toolbar.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - hidden_toolbar_attributes: HTML attributes to apply to the toolbar.
 * - hidden_toolbar_heading: The heading or label for the toolbar.
 * - trays: Toolbar tray list, each associated with a tab. Each tray in trays
 *   contains:
 *   - attributes: HTML attributes to apply to the tray.
 *   - label: The tray's label.
 *   - links: The tray menu links.
 * - extra: Any non-tray, non-icon elements left to be rendered.
 *
 * @see template_preprocess_hidden_toolbar()
 *
 * @ingroup themeable
 */
#}
{% if hidden_toolbar_side == 'bleft' %}
  {% set position = 'bottom-1 left-1' %}
{% elseif hidden_toolbar_side == 'tleft' %}
  {% set position = 'top-1 left-1' %}
{% elseif hidden_toolbar_side == 'bright' %}
  {% set position = 'bottom-1 right-1' %}
{% else %}
  {% set position = 'top-1 right-1' %}
{% endif %}
<button class="htb-menu-btn {{ position }}">
  <span></span>
  <span></span>
  <span></span>
</button>
<nav{{ hidden_toolbar_attributes.addClass('hidden-toolbar-menu') }}>
  <h2 class="visually-hidden">{{ hidden_toolbar_heading }}</h2>
  {{ hidden_toolbar_user }}
  <div{{ attributes.addClass('hidden-toolbar htb-nav-links') }}>
    {% for key, tray in trays %}
      {% if tray.links is not null %}

        {% spaceless %}
      
          {% if tray.label %}
            <h4>{{ tray.label }}</h4>
          {% endif %}
          {{ tray.links }}
        
        {% endspaceless %}
      {% endif %}
    {% endfor %}
  </div>
  {{ extra }}
</nav>
