{#
/**
 * @file
 * Default theme implementation to display a toolbar menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<ul class="htb-submenu">
{{ menus.menu_links(items, 0) }}
</ul>

{% macro menu_links(items, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% for item in items %}
      <li>
        {{ link(item.title, item.url) }}

        {% if item.below %}

          {{ menus.menu_links(item.below, menu_level + 1) }}
        </li>
        {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
